        html {
            max-width: 100%;
            overflow-x: hidden;
        }
        
        * {
            box-sizing: border-box;
            font-family: 'Comfortaa', cursive;
        }
        
        body {
            margin: 0;
            width: 100%;
            max-width: 100%;
        }
        
        .main-container {
            margin: 0;
        }
        
        .start-page {
            position: static;
            background: url('media/bg-pic.jpg');
            background-size: cover;
        }
        
        .navigation-greed {
            position: relative;
            display: grid;
            width: 90%;
            grid-template-rows: repeat(8, 4.5vw);
            grid-template-columns: repeat(9, 4.5vw);
            gap: 2.5vw;
            transform: translate(10%, 5%);
        }
        
        .navigation-greed>a {
            text-align: center;
            border: 2px solid white;
            transform: rotate(-45deg);
            margin: 1.35vw;
            text-decoration: none;
            color: white;
            font-size: 1vw;
        }
        
        .navigation-greed>a>img {
            width: 35%;
            margin-left: 24%;
            margin-top: 23%;
        }
        
        .navigation-greed>a>p {
            position: absolute;
            top: 40%;
            left: 0%;
            width: 80%;
        }
        
        .navigation-greed>a>* {
            transform: rotate(45deg);
            text-align: center;
            justify-content: center;
        }
        
        .navigation-greed>a:nth-child(1) {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 4;
        }
        
        .navigation-greed>a:nth-child(1):before {
            position: absolute;
            display: block;
            top: 100%;
            left: -120%;
            content: '';
            height: 2px;
            width: 120%;
            background-color: white;
            cursor: none;
            pointer-events: none;
        }
        
        .navigation-greed>a:nth-child(1):after {
            display: block;
            position: absolute;
            content: '';
            left: 100%;
            top: -2px;
            height: 2px;
            width: 150%;
            background-color: white;
            cursor: none;
            pointer-events: none;
        }
        
        .navigation-greed>a:nth-child(2) {
            grid-column-start: 4;
            grid-column-end: 6;
            grid-row-start: 2;
            grid-row-end: 4;
        }
        
        .navigation-greed>a:nth-child(3) {
            grid-column-start: 7;
            grid-column-end: 9;
            grid-row-start: 3;
            grid-row-end: 5;
        }
        
        .navigation-greed>a:nth-child(3):before {
            display: block;
            position: absolute;
            content: '';
            left: -75%;
            top: 100%;
            height: 2px;
            width: 75%;
            background-color: white;
            cursor: none;
            pointer-events: none;
        }
        
        .navigation-greed>a:nth-child(3):after {
            display: block;
            position: absolute;
            content: '';
            left: 100%;
            top: 0;
            height: 2px;
            width: 120%;
            transform: rotate(-90deg);
            transform-origin: left;
            background-color: white;
            cursor: none;
            pointer-events: none;
        }
        
        .navigation-greed>a:nth-child(4) {
            grid-column-start: 4;
            grid-column-end: 6;
            grid-row-start: 4;
            grid-row-end: 6;
        }
        
        .navigation-greed>a:nth-child(4):after {
            display: block;
            position: absolute;
            content: '';
            left: 100%;
            top: 100%;
            height: 2px;
            width: 70%;
            background-color: white;
            cursor: none;
            pointer-events: none;
        }
        
        .navigation-greed>a:nth-child(5) {
            grid-column-start: 8;
            grid-column-end: 10;
            grid-row-start: 4;
            grid-row-end: 6;
        }
        
        .navigation-greed>a:nth-child(5):before {
            display: block;
            position: absolute;
            content: '';
            left: 100%;
            top: -2px;
            height: 2px;
            width: 95%;
            background-color: white;
            cursor: none;
            pointer-events: none;
        }
        
        .navigation-greed>a:nth-child(5):after {
            display: block;
            position: absolute;
            content: '';
            left: -1px;
            top: 100%;
            height: 2px;
            width: 150%;
            transform: rotate(90deg);
            transform-origin: left;
            background-color: white;
            cursor: none;
            pointer-events: none;
        }
        
        .navigation-greed>a:nth-child(6) {
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 5;
            grid-row-end: 7;
        }
        
        .navigation-greed>a:nth-child(6):after {
            display: block;
            position: absolute;
            content: '';
            left: -1px;
            top: 100%;
            height: 2px;
            width: 40%;
            transform: rotate(90deg);
            transform-origin: left;
            background-color: white;
            cursor: none;
            pointer-events: none;
        }
        
        .navigation-greed>a:nth-child(7) {
            grid-column-start: 5;
            grid-column-end: 7;
            grid-row-start: 5;
            grid-row-end: 7;
        }
        
        .navigation-greed>a:nth-child(7):after {
            display: block;
            position: absolute;
            content: '';
            left: -70%;
            top: 100%;
            height: 2px;
            width: 70%;
            background-color: white;
            cursor: none;
            pointer-events: none;
        }
        
        .navigation-greed>a:nth-child(8) {
            grid-column-start: 7;
            grid-column-end: 9;
            grid-row-start: 5;
            grid-row-end: 7;
        }
        
        .navigation-greed :nth-child(9) {
            display: grid;
            grid-template-columns: repeat(3, 4vw);
            grid-template-rows: repeat(4, 4vw);
            grid-column-start: 8;
            grid-column-end: 10;
            grid-row-start: 1;
            grid-row-end: 4;
            transform: rotate(-45deg);
            gap: 0.3vw;
            justify-content: center;
        }
        
        .navigation-greed>a:nth-child(4) img,
        .navigation-greed>a:nth-child(8) img,
        .navigation-greed>a:nth-child(5) img {
            position: absolute;
            object-fit: cover;
            width: 143.5%;
            top: -21.5%;
            left: -21.5%;
            margin: 0;
        }
        
        .mini-navigation>a {
            position: relative;
            border: 1px solid white;
        }
        
        .mini-navigation>a:nth-child(1) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        
        .mini-navigation>a:nth-child(1)>img {
            width: 25%;
        }
        
        .mini-navigation>a:nth-child(2) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        
        .mini-navigation>a:nth-child(3) {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        
        .mini-navigation>a:nth-child(4) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        
        .mini-navigation>a:nth-child(5) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5;
        }
        
        .mini-navigation>a:nth-child(6) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 4;
            grid-row-end: 5;
        }
        
        .mini-navigation a img {
            width: 40%;
            transform: translate(-50%, -50%) rotate(45deg);
            object-fit: contain;
            position: absolute;
            left: 50%;
            top: 50%;
        }
        
        .next-page-button {
            position: relative;
            width: 12vh;
            height: 12vh;
            margin: 50px auto 0;
            transform: translateY(-80%);
        }
        
        .next-page-button :nth-child(1) {
            position: absolute;
            width: 80%;
            height: 80%;
            border: 2px solid white;
            transform: translateX(-50%) rotate(-45deg);
            left: 50%;
            top: -40%;
        }
        
        .next-page-button :nth-child(2) {
            position: absolute;
            width: 100%;
            height: 100%;
            border: 2px solid white;
            transform: translateX(-50%) rotate(-45deg);
            left: 50%;
            background-color: white;
            z-index: 1000;
        }
        
        .next-page-button :nth-child(2):before {
            position: absolute;
            content: "";
            width: 40%;
            height: 10%;
            top: 50%;
            left: 50%;
            transform-origin: left;
            transform: rotate(-90deg) translate(0%, -50%);
            background-color: #565656;
        }
        
        .next-page-button :nth-child(2):after {
            position: absolute;
            content: "";
            width: 45%;
            height: 10%;
            top: 50%;
            left: 40%;
            background-color: #565656;
        }
        
        .navigation-greed a:hover {
            background-color: rgba(200, 61, 143, 0.658);
            text-shadow: 2px 2px 3px white;
            transition: all linear 0.5s;
        }
        
        .next-page-button:hover * {
            transform: translateY(-80%) rotate(-45deg) scale(1.2, 1.2) translateX(-50%);
            background-color: rgba(200, 61, 143, 0.658);
            border-color: rgba(200, 61, 143, 0.658);
            transition: all 0.5s linear;
        }
        
        .next-page-button:hover :nth-child(2) {
            background-color: rgba(200, 61, 143, 1);
            border-color: rgba(200, 61, 143, 1);
            transition: all 0.5s linear;
        }
        
        .what-we-do {
            margin: auto;
            width: 100%;
            text-align: center;
        }
        
        .what-we-do * {
            margin: 5vh auto;
            line-height: 2em;
        }
        
        .what-we-do h2 {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            text-transform: uppercase;
        }
        
        span {
            color: rgba(200, 61, 143, 1);
            font-weight: 700;
        }
        
        .what-we-do p {
            margin: auto 10%;
            font-size: 1.5em;
            text-align: justify;
        }
        
        .features {
            display: flex;
            justify-content: space-around;
            text-align: center;
            font-size: 1vw;
            line-height: 0.1em;
        }
        
        .features div {
            text-align: center;
            width: 10vw;
            height: 10vw;
            border: 2px solid black;
            transform: rotate(-45deg);
        }
        
        .features div p {
            transform: rotate(45deg);
        }
        
        .features div p:nth-child(1) {
            position: relative;
            top: 17%;
            left: 22%;
            font-size: 3vw;
            font-weight: 700;
        }
        
        .features div p:nth-child(2) {
            text-align: center;
            width: 70%;
            position: relative;
            top: -15%;
            left: -11%;
            font-size: 1vw;
        }
        
        .features>div:hover {
            color: white;
            background-color: rgba(200, 61, 143, 1);
            transition: all 0.5s linear;
        }
        
        .about-us {
            font-size: 24px;
            line-height: 2em;
            padding: 5vw 10vw;
            text-align: justify;
            background: #eeeeee;
        }
        
        .about-us h2 {
            text-align: center;
        }
        
        .about-us .carusel {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
        }
        
        .about-us .carusel>* {
            width: 45%;
        }
        
        .about-us .carusel .carusel-wrap {
            position: relative;
            min-height: 500px;
            overflow: hidden;
        }
        
        .about-us .carusel .carusel-imgs {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            transition: all 1s ease;
        }
        
        .about-us .carusel .carusel-carusel {
            position: relative;
            height: 100%;
        }
        
        .about-us .carusel .carusel-imgs img {
            height: 100%;
            width: 100%;
        }
        
        .buttons {
            position: absolute;
            height: 3vw;
            width: 3vw;
            background-color: rgba(200, 61, 143, 1);
            cursor: pointer;
            z-index: 10;
        }
        
        .buttons img {
            height: 80%;
            justify-content: center;
            position: absolute;
            top: 50%;
            left: 50%;
        }
        
        .left-button {
            top: 50%;
            transform: translate(20%, -50%) rotate(45deg);
        }
        
        .left-button img {
            transform: rotate(-45deg) translate(-11%, -68%);
        }
        
        .right-button {
            left: 100%;
            top: 50%;
            transform: translate(-120%, -50%) rotate(45deg);
        }
        
        .right-button img {
            transform: translate(-40%, -56%) rotate(135deg);
        }
        
        .carusel-nav {
            text-align: center;
        }
        
        .carusel-nav>* {
            transform: rotate(-45deg);
        }
        
        .buttons:hover.left-button {
            transform: rotate(45deg) translate(-10%, -60%) scale(1.2, 1.2);
            transition: all ease 0.5s;
        }
        
        .buttons:hover.right-button {
            transform: translate(-135%, -50%) rotate(45deg) scale(1.2, 1.2);
            transition: all ease 0.5s;
        }
        
        .inactive {
            background-color: silver;
        }
        
        .latest-posts {
            background-color: #eeeeee;
            text-align: center;
            padding: 5vw 10vw;
        }
        
        .posts {
            display: flex;
            width: 100%;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        
        .latest-posts h2 {
            display: inline-block;
            margin: auto;
            margin: 5vh auto;
        }
        
        .post {
            width: 25%;
            background-color: white;
            position: relative;
            cursor: pointer;
        }
        
        .post .post-pic {
            width: 100%;
        }
        
        .post .post-pic>img {
            width: 100%;
        }
        
        .latest-posts .post .post-pic p {
            font-size: 1em;
            line-height: 1.5em;
            padding: 0 5vh;
            text-align: justify;
        }
        
        .bottom-line {
            position: relative;
            display: flex;
            justify-content: space-around;
            align-items: center;
            bottom: 0;
        }
        
        @media screen and (max-width:800px) {
            * {
                font-size: 1.8em;
                letter-spacing: 0.1em;
            }
            body {
                width: 100%;
            }
            .main-container {
                width: 100%;
            }
            .navigation-greed {
                grid-template-rows: repeat(8, 6.5vw);
                grid-template-columns: repeat(9, 6.5vw);
                gap: 5vw;
                left: 0;
                transform: translate(-8%, 20%)
            }
            .start-page {
                min-height: 100vh;
            }
            .next-page-button {
                margin: 20vh auto 0;
                top: 20%;
            }
            .what-we-do {
                font-size: 2vw;
            }
            .what-we-do * {
                margin: 10vh auto;
                line-height: 1.4em;
                text-align: center;
            }
            .features {
                margin-top: 0vh;
                flex-wrap: wrap;
            }
            span {
                color: rgba(200, 61, 143, 1);
                font-weight: 700;
                font-size: 1em;
            }
            .features>div {
                margin-top: 5vh;
                width: 35vw;
                height: 35vw;
                flex-wrap: wrap;
            }
            .features div p:nth-child(1) {
                position: relative;
                top: 15%;
                left: 20%;
                font-size: 8vw;
                font-weight: 700;
                text-align: center;
            }
            .features div p:nth-child(2) {
                width: 70%;
                position: relative;
                top: 0%;
                left: 0%;
                font-size: 4vw;
            }
            .about-us {
                font-size: 2vw;
            }
            .about-us .carusel>* {
                width: 100%;
                font-size: 1em;
            }
            .about-us .carusel .carusel-wrap {
                min-height: 45vh;
            }
            .buttons {
                height: 8vw;
                width: 8vw;
            }
            .latest-posts {
                font-size: 0.05rem;
            }
            .latest-posts h2 {
                font-size: x-large;
            }
            .latest-posts h3 {
                font-size: 1.2em;
            }
            .post {
                width: 80%;
                font-size: 1.7em;
            }
            .bottom-line {
                padding: 0;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
            .bottom-line img {
                font-size: 0.05rem;
                width: 3vw;
            }
            .latest-posts .post .post-pic p {
                font-size: 1.2em;
                line-height: 1.2em;
                padding: 0 5vw;
                text-align: justify;
            }
            .post-comments {
                font-size: 1em;
            }
            .bottom-line p {
                font-size: 0.1em;
                letter-spacing: normal;
            }
        }